


__pycache__/

state/

*.egg-info/

build/build-exe-config.json

install/*.exe

*.pyo

*.spec

build/build-exe-pyinstaller-command.bat

build/build/BAPSicle/

build/output/

build/build-exe-pyinstaller-command.sh

logs/

*.mp3

*.oga

*.ogg
