
.vscode/settings.json

__pycache__/
*.egg-info/
*.pyo
venv/

build/build-exe-config.json
build/build-exe-pyinstaller-command.bat
build/build-exe-pyinstaller-command.sh
build/BAPSicle.platypus
build/build/BAPSicle/
build/output/
*.spec

install/*.exe
install/nssm

build.py

dev/welcome.mp3

music-tmp/


presenter-build

node_modules/