
.vscode/settings.json

__pycache__/


*.egg-info/

build/build-exe-config.json

install/*.exe
install/nssm

*.pyo

*.spec

build/build-exe-pyinstaller-command.bat

build/build/BAPSicle/

build/output/


venv/

dev/welcome.mp3

build/build-exe-pyinstaller-command.sh

music-tmp/
