<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block head %}
    <meta http-equiv="refresh" content="5;" />
  {% endblock %}

  <title>BAPSicle {% if data.ui_title %} | {{data.ui_title}}{% endif %}</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">

</head>


<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="mt-5">
            <a href="/">
              <h1 class="h1 text-light d-inline">BAPSicle</h1>
            </a>
            <div class="d-inline float-right">
              <a href="/status" class="btn btn-user btn-outline-light btn-primary ml-4 {% if data.ui_page == 'status' %}active{% endif %}">
                Status
              </a>
              <a href="/config" class="btn btn-user btn-outline-light btn-primary ml-4 {% if data.ui_page == 'config' %}active{% endif %}">
                Config
              </a>
              <a href="/logs" class="btn btn-user btn-outline-light btn-primary ml-4 {% if data.ui_page == 'logs' %}active{% endif %}">
                Logs
              </a>
            </div>
            <div class="card o-hidden border-0 shadow-lg my-3">
              {% block content %}
                
                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="px-4 pt-5 pb-3">
                        <div class="text-center">
                          <h2 class="h3 text-gray-900">{{ data.ui_title }}</h2>
                        </div>
                        <hr>
                      </div>
                      <div class="px-4 pb-4">
                        {% block content_inner %}
                        <div class="py-4 text-center">
                          <h2>Woops.</h2>
                          <p>No content defined in <code>content</code> or <code>content_inner</code> block.</p>
                        </div>
                        {% endblock %}
                      </div>
                    </div>
                  </div>
                </div>
    
              {% endblock %}
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
</body>

</html>
