{% extends 'base.html' %}
{% block content_inner %}
<h3 class="h5">Audio Outputs</h3>
<p><strong>Please note: Currently BAPSicle does not support choosing which Host API is used. This list is for reference.</strong></p>

{% for host_api in data.outputs %}
  <hr>
  {{host_api.name}}
  <br>
  <code>
  {% for output in host_api.output_devices %}
  Set for:
    {% for channel in data.channels %}
      <a href="/player/{{channel.channel}}/output/{{output.name}}">Channel {{channel.channel}}</a>
    {% endfor %}
    - {% if output.name %}{{output.name}}{% else %}System Default Output{% endif %}<br>
  {% endfor %}
  </code>
{% endfor %}
{% endblock %}
