{% extends 'base.html' %}
{% block head %}
  <meta http-equiv="refresh" content="5;url=/" />
{% endblock %}
{% block content %}

  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-index-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h2 class="h1 text-gray-900 mb-4"><small>Welcome to</small><br>BAPSicle!</h2>
            <p class="h4">The next gen Broadcast and Presenting Suite server!</p>
          </div>
          <hr>
          <p>Wanted the actual playout controller?</p>
          <a href="#" class="btn btn-primary btn-user btn-block">
            Open WebStudio
          </a>
          <hr>
          <p>Version: X  |  Server Name: Studio X</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}