<html>
  <head>
    <title>BAPSicle</title>
    <meta http-equiv="refresh" content="2;url=/" />
  </head>
  <body>
    {% if data %}
      <code>
        {% for player in data.channels %}
        <a href="/player/{{player.channel}}/play">Play</a> 
        <a href="/player/{{player.channel}}/stop">Stop</a>
        <a href="/player/{{player.channel}}/seek/50">Seek 50</a>
        {{player}}<br>
        {% endfor %}
      </code>
      <br>
      <code>
        {% for output in data.outputs %}
        <a href="/player/0/output/{{output.name}}">Set Channel 0</a> <a href="/player/1/output/{{output.name}}">Set Channel 1</a> <a href="/player/2/output/{{output.name}}">Set Channel 2</a> - {{output.name}}<br>
      {% endfor %}
      </code>
    {% endif %}


  </body>
</html>
