{% extends 'base.html' %}
{% block head %}
  <meta http-equiv="refresh" content="2;url=/status" />
{% endblock %}
{% block content_inner %}
  {% if data %}
    <code>
      {% for player in data.channels %}
      <a href="/player/{{player.channel}}/play">Play</a> 
      {% if player.paused %}
      <a href="/player/{{player.channel}}/unpause">UnPause</a>
      {% else %}
      <a href="/player/{{player.channel}}/pause">Pause</a>
      {% endif %}
      <a href="/player/{{player.channel}}/stop">Stop</a>
      <a href="/player/{{player.channel}}/seek/50">Seek 50</a>
      {{player}}<br>
      {% endfor %}
    </code>
  {% endif %}
{% endblock %}