{% extends 'base.html' %}
{% from 'parts/alert_list.html' import alert_list %}
{% block head %}
<meta http-equiv="refresh" content="15;url=/alerts" />
{% endblock %}
{% block content_inner %}
  {% if data %}
  <h2>Current Alerts: {{ data.alert_count_current }}</h2>
  <div class="accordion" id="accordionExample">
    {{ alert_list(data.alerts_current) }}
  </div>
  <hr>
  <h2>Previous Alerts: {{ data.alert_count_previous }}</h2>
  <div class="accordion" id="accordionExample">
    {{ alert_list(data.alerts_previous) }}
  </div>
  {% endif %}
{% endblock %}
