{% extends 'base.html' %}
{% block content_inner %}
  {% if data %}
    <form action="/config/server/update" method="POST">
      <label for="host">Server Host:</label>
      <input type="text" id="host" name="host" class="form-control" value="{{data.state.host}}">
      <br>
      <label for="port">Server Port:</label>
      <input type="number" id="port" name="port" class="form-control" value="{{data.state.port}}">
      <br>
      <label for="port">WebSockets Port:</label>
      <input type="number" id="ws_port" name="ws_port" class="form-control" value="{{data.state.ws_port}}">
      <br>
      <label for="name">Server Name:</label>
      <input type="text" id="name" name="name" class="form-control" value="{{data.state.server_name}}">
      <br>
      <label for="channels">Number of Channels:</label>
      <input type="number" id="channels" name="channels" class="form-control" value="{{data.state.num_channels}}">
      <br>
      <label for="serial_port">BAPS Controller Serial Port:</label>
      <select class="form-control" name="serial_port">
        <label>Serial Ports</label>
        {% for port in data.ser_ports %}
          <option value="{{port}}" {% if port == data.state.serial_port %}selected{% endif %}>{{port}}</option>
        {% endfor %}
      </select>
      <hr>
      <label for="myradio_base_url">MyRadio Base URL:</label>
      <input type="text" id="myradio_base_url" name="myradio_base_url" class="form-control" value="{{data.state.myradio_base_url}}">
      <br>
      <label for="myradio_api_url">MyRadio API URL:</label>
      <input type="text" id="myradio_api_url" name="myradio_api_url" class="form-control" value="{{data.state.myradio_api_url}}">
      <br>
      <label for="myradio_api_key">MyRadio API Key:</label>
      <input type="text" id="myradio_api_key" name="myradio_api_key" class="form-control" placeholder="Hidden ({% if data.state.myradio_api_key %}value set, type to replace{% else %}value not set yet{% endif %})" value="">
      <br>
      <label for="myradio_api_tracklist_source">Tracklist Source ID (char):</label>
      <input type="text" id="myradio_api_tracklist_source" name="myradio_api_tracklist_source" class="form-control" value="{{data.state.myradio_api_tracklist_source}}">
      <br>
      <label for="serial_port">Tracklist Mode:</label>
      <select class="form-control" name="tracklist_mode">
        <label>Modes</label>
        {% for mode in data.tracklist_modes %}
          <option value="{{mode}}" {% if mode == data.state.tracklist_mode %}selected{% endif %}>{{ mode.capitalize() }}</option>
        {% endfor %}
      </select>
      <p><small>
        Delayed tracklisting is 20s, to account for cueing with fader down.<br>
        Fader Live means if a BAPS Controller is present with support, tracklists will trigger only if fader is up.
      </small></p>
      <hr>
      <input type="submit" class="btn btn-primary" value="Save & Restart Server">
    </form>
  {% endif %}
{% endblock %}
