{% extends 'base.html' %}
{% block content_inner %}
<h3 class="h5">Audio Outputs</h3>
<p>
  <strong>Please note:</strong> Currently BAPSicle does not support choosing which Host API is used. Only supported options can be selected.
  <br>
  <strong>On MacOS:</strong> The available output devices will not update automatically, the BAPSicle server must be restarted.
</p>
<h4 class="h5">Currently Selected</h4>
<p>
{% for channel in data.channels %}
  <strong>Player {{loop.index0}}:</strong>
  {% if channel %}
    {% if channel.output %}
      {{channel.output}}
    {% else %}
      Default Audio Device
    {% endif %}
    {% if not channel.initialised %}
      <code> - <strong>ERROR:</strong> Player did not start, potentially configured sound output is missing? Check <a href="/alerts">Alerts</a>.</code>
    {% endif %}
  {% else %}
    <code> - <strong>ERROR:</strong> Player did not respond, likely it is dead :/ Check <a href="/alerts">Alerts</a>.</code>
  {% endif %}
  <br>
{% endfor %}
<br/>
<code>
Set for:
{% for channel in data.channels if channel %}
  <a href="/player/{{channel.channel}}/output/None">Player {{channel.channel}}</a> /
{% endfor %}
Default Audio Output
</code>
</p>
{% for host_api in data.outputs %}
  {{host_api.name}}
  <br>
  <code>
  {% for output in host_api.output_devices %}
  {% if host_api.usable %}
  Set for:
    {% for channel in data.channels %}
      {% if not channel %}
      Player {{loop.index0}}
      {% elif channel.output == output.name %}
      <strong>Player {{channel.channel}}</strong>
      {% else %}
      <a href="/player/{{channel.channel}}/output/{{output.name}}">Player {{channel.channel}}</a>
      {% endif %}
      /
    {% endfor %}
  {% endif %}{% if output.name %}{{output.name}}{% else %}System Default Output{% endif %}<br>
  {% endfor %}
  </code>
{% endfor %}
{% endblock %}
