{% extends 'base.html' %}
{% block head %}
<meta http-equiv="refresh" content="60;url=/" />
{% endblock %}
{% block content %}

  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-index-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h2 class="h1 text-gray-900 mb-4"><small>Welcome to</small><br>BAPSicle!</h2>
            <p class="h4">The next gen Broadcast and Presenting Suite server!</p>
          </div>
          <hr>
          <p>Wanted the actual playout controller?</p>
          <a href="/presenter/" class="btn btn-primary btn-user btn-block">
            Open BAPS Presenter
          </a>

          <hr>
          {% if data.alert_count > 0 %}
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Something's up! <a href="/alerts" class="btn btn-sm btn-danger float-right"><span class="badge badge-light mr-1">{{data.alert_count}}</span>View Alerts</a></h4>
              <p>BAPSicle is having some issues. Please review the alerts page.
          {% else %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">We're all good!</h4>
            <p>BAPSicle seems to be running well. If this doesn't seem to be the case, try restarting or taking a closer look at the logs.</p>
          {% endif %}
            <hr>
            <a href="/logs" class="btn btn-success">Logs</a>
            <a href="/restart" class="btn btn-info">Restart</a>
            <a href="/shutdown" class="btn btn-danger">Shutdown</a>
          </div>

          <hr>
          <p>Version: {{data.server_version}} - Build: {{data.server_build}} - Branch: {{data.server_branch}}</p>
          <p>Server Name: {{data.server_name}}</p>
          <hr>
          <small>
            <a href="https://www.vecteezy.com/free-vector/island">Island Vectors by Vecteezy</a>, <a href="https://www.flaticon.com/free-icon/recording_3172492">Recording Vector from Flaticon</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
